#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
}

.header {
  position: top;
  background-color: blue;
  color: lightcyan;
  height: 30%;
}

.viewing-checklist {
  background-color: lightblue;
}

.viewingChecklist {
  position: sticky;
}

.navigation-bar {
  background-color: gray;
  margin-top: -1.5%;
  margin-bottom: -1.6%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 1%;

}

.monthly-repayment-calculator {
  background-color: red;
  margin-top: -1.5%;
}