body {
  position: relative;
  max-width: 100%;
}

.header {
  background-color: blue;
  color: white;
  width: 100vw;
  height: 12vw;
  padding-bottom: 20px;
}


.content {
  width: 50vw;
  height: 30vw;
  margin-left: 20%;
}


.navigation-bar {
  background-color: gray;
  margin-top: -1.5%;
  margin-bottom: -1.6%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 1%;

}

.monthly-repayment-calculator {
  margin-top: -1.5%;
}

.accordion-monthly-repayment-calculator {
  outline: 5px solid lightblue;
  border-radius: 10px;
  padding-left: 2%;
  padding-bottom: 2%;
}

.accordion-item-viewing-checklist {
  outline: 5px solid lightblue;
  border-radius: 10px;
  padding-left: 2%;
  padding-bottom: 2%;
}

.accordion-item-maximum-borrowing-amount {
  outline: 5px solid lightblue;
  border-radius: 10px;
  padding-left: 2%;
  padding-bottom: 2%;
}

.footer {
  position: absolute;
  bottom: -10;
  width: 100%;
  height: 2.5rem;
  padding-left: 18%;

}

.accordion-icon {
  float: right;
  padding-right: 2%;
}