#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  max-width: 100%;
}

.header {
  position: top;
  background-color: blue;
  color: lightcyan;
  width: 100vw;
}

.viewing-checklist {
  display: grid;
}

.viewingChecklist {
  position: sticky;
}

.navigation-bar {
  background-color: gray;
  margin-top: -1.5%;
  margin-bottom: -1.6%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 1%;

}

.monthly-repayment-calculator {
  margin-top: -1.5%;
}

.accordion-monthly-repayment-calculator {
  outline: 5px solid lightblue;
  display: inline-flex;
}

.accordion-item-viewing-checklist {
  outline: 5px solid lightblue;
  display: inline-flex;
}

.accordion-item-maximum-borrowing-amount {
  outline: 5px solid lightblue;
  display: inline-flex;
}